.backgroundimage {
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.logo{
    width: 150px;
    cursor: pointer;

}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.icon-color{
  display: inline-block;
  cursor: pointer;
}

.row-1
{
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
   margin-left: 20px;
   margin-top: -100px;
   
}
.contain {
    font-size: 23px;
    color: rgb(83, 80, 80);
    margin-left: 86PX;
    margin-top: -53px;
}
  
.para
{
    font-weight: initial;
    font-size: 15px;
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}

.man
{
  margin-left: 500px;
    margin-top: -300px;
   
}
.plane
{
margin-inline-start: -100px;
}
.smallplane
{
    margin-left: 150px;
    margin-bottom: 70px;
    margin-top: -60px;
}


.button {
    background-color: #f8f8f8; 
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

  }
  
  .button1 {
    background-color: rgb(243, 240, 240); 
    color: rgb(102, 101, 101); 
    border: 2px solid #fcfffd;
   
  }
  
  .button1:hover {
    background-color: #747171;
    color: white;
  }
  
  .row{
    margin-top: -279px;
    margin-left: 60px;
    
   
}

.icon-color{
  color: white;
}



.cloudlite{
  margin-left: -180px;
  margin-top: -50px;
}
  
.con {
  margin-left: 20px;
  margin-top: -20px;
  cursor:pointer;
}